@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;500&display=swap');
* {
  font-family: monospace;
}
.f-300 {
    font-weight: 300;
}
a {
    text-decoration: none !important;
    color: #000 !important;
    cursor: pointer;
}
.cursor {
    cursor: pointer;
}
body {
  --s: 40px; 
  --b: 18px; 
  
  height: calc(100vh + 40px); 
  margin: -20px;
  background: #fff;
  mix-blend-mode: darken;
  position: relative;
}
.container-fluid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.container-fluid::before,
.container-fluid::after {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(var(--_c, rgba(254, 253, 56, 0.5)) 0 0) left -100vw top 50% no-repeat;
  --_g: calc(-.45*var(--s)), #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  --_s: calc(4*var(--s)) calc(3*var(--s));
  --_r: calc(1.096*var(--s) + var(--b)/2);
  -webkit-mask:
    radial-gradient(var(--_r) at left 50% bottom var(--_g)) 
      calc(50% - 2*var(--s)) calc(50% - 3*var(--s)/2 + var(--_o,0px))/var(--_s),
    radial-gradient(var(--_r) at left 50% top var(--_g)) 
      50% calc(50% + 3*var(--s)/2 + var(--_o,0px))/var(--_s);
  animation: back 10s linear;
  position: fixed;
  z-index: -1;
  pointer-events: none;
}

.container-fluid::after {
  --_c: rgba(255, 255, 255, 0.5);
  --_o: 3*var(--s)/2;
  animation-direction: reverse;
}

@keyframes back {
  to {background-position: right -100vw top 50%}
}

html {
  background: #F4EAD5;
}
html:before {
  content: "";
  position: fixed;
  inset: 0;
  background: inherit;
  z-index: -1;
}
#contact {
    min-height: 700px;
    background-image: url('lou.jpg');
    background-position: top;
    background-size: cover;
}
@media only screen and (min-width: 680px) {

}